<!DOCTYPE html>
<html ng-app="myApp">
<head>

    <title>大川&朱莉</title>

    <!-- For-Mobile-Apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords"
          content="Strategy a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //For-Mobile-Apps -->

    <!-- Custom-Theme-Files -->
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Style-CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all"/>
    <!-- Font-Awesome-Icons-CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- Navbar-CSS -->
    <link href="css/nav.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- Graph-CSS -->
    <link rel="stylesheet" type="text/css" href="css/graph.css"/>
    <!-- Swipe-Box-CSS -->
    <link rel="stylesheet" href="css/swipebox.css">
    <!-- //Custom-Theme-Files -->

    <!-- Font-Awesome-Icons-File -->
    <link href='fonts/fontawesome-webfont.ttf' rel='stylesheet' type='text/css'>
    <!-- //Font-Awesome-Icons-File -->

    <!-- Web-Fonts -->
    <link href='http://fonts.useso.com/css?family=Raleway:400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <!-- //Web-Fonts -->
    <!--Music-->
    <style media="screen" type="text/css">
        #backgroundaudio {
            display: block;
            position: fixed;
            bottom: -43px;
            left: 5px;
            z-index: 100;

            -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
            -ms-transition: all 1s ease-in-out;
            -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
        }

        #backgroundaudio:hover {
            bottom: 0;
            z-index: 100;
            -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
            -ms-transition: all 1s ease-in-out;
            -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
            -webkit-user-select: none;
            -webkit-touch-callout: none
        }

        #backgroundaudio audio {
            background: inherit;
            padding: 5px;
            display: table-cell;
            vertical-align: middle;
            height: 43px;
            z-index: 100;
        }

        #backgroundaudio i {
            font-size: 30px;
            display: block;
            background: inherit;
            padding: 5px;
            width: 40px;
            float: none;
            margin-bottom: 0px;
            margin-left: 0px;
            z-index: 101;
        }
    </style>
    <!--Timer-->
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/timer_style_2.css"/>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
<!-- Header -->
<div id="home" class="header">
    <div id="backgroundaudio">
        <i class="fa fa-music"></i>
        <audio class="" controls="" autoplay="" loop="" preload="">
            <source src="http://192.254.184.234/~tangh/01_admin_resources/Shimmer/ogg/Smile.ogg" type="audio/ogg"/>
            <source src="http://192.254.184.234/~tangh/01_admin_resources/Shimmer/mp3/Smile.mp3" type="audio/mpeg"/>
        </audio>
    </div>
    <script>
        document.addEventListener("touchstart", function(){}, true);
    </script>
    <!-- Logo -->
    <!--    <div class="logo">
            <a href="index.html">STRATEGY</a>
        </div>-->
    <!-- //Logo -->

    <!-- Navigation -->
    <div class="container">
        <button class="btn-nav">
            <div class="bar arrow-top-r"></div>
            <div class="bar arrow-middle-r"></div>
            <div class="bar arrow-bottom-r"></div>
        </button>
        <nav class="nav-container hidden hideNav">
            <ul class="nav-list">
                <li class="list-item"><a class="scroll" href="#home"><i class="fa fa-home"></i></a></li>
                <li class="list-item"><a class="scroll" href="#stats"><i class="fa fa-weixin"></i></a></li>
                <li class="list-item"><a class="scroll" href="#timer-area"><i class="fa fa-calendar-check-o"></i></a>
                </li>
                <li class="list-item"><a class="scroll" href="#contact"><i class="fa fa-users"></i></a></li>
                <li class="list-item"><a class="scroll" href="#map"><i class="fa fa-map-marker"></i></a></li>
            </ul>
        </nav>
    </div>
    <!-- //Navigation -->

    <!-- Carousel -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" src="images/engage/engage1A.jpg" alt="Strategy">
                <div class="container">
                    <div class="carousel-caption">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="second-slide" src="images/engage/engage2a.jpg" alt="Strategy">
                <div class="container">
                    <div class="carousel-caption">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="third-slide" src="images/engage/engage3A.jpg" alt="Strategy">
                <div class="container">
                    <div class="carousel-caption">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="fourth-slide" src="images/engage/engage4a.jpg" alt="Strategy">
                <div class="container">
                    <div class="carousel-caption">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="fifth-slide" src="images/engage/engage5.jpg" alt="Strategy">
                <div class="container">
                    <div class="carousel-caption">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <img class="item" src="images/engage/SlideBanner.png">
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <img src="images/left.png" alt="Strategy" aria-hidden="true">
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <img src="images/right.png" alt="Strategy" aria-hidden="true">
            <span class="sr-only">Next</span>
        </a>

    </div>
    <!-- //Carousel -->

</div>
<!-- //Header -->

<!-- Features -->
<div class="features" id="features">
    <div class="row  ">
        <div class="cherry-box  ">
            <div class="inner">
                <div class="container">
                    <div class="row row-edge">
                        <div class="col-md-12 full-width">
                            <div class="cherry-services extraservice_1 boxed-layout">
                                <div class="row">
                                    <div class="services-listing">
                                        <div id="services-270"
                                             class="cherry-services_item item-1 clearfix odd col-xs-12 clear-col-xs col-sm-6 clear-col-sm col-md-3 clear-col-md col-lg-3 clear-col-lg">
                                            <div class="servcircle">
                                                <img src="images/f1.png" alt="Strategy">
                                                <h3 class="cherry-services_title">Progress</h3>
                                            </div>
                                            <div class="servdescr">
                                                <div class="cherry-services_excerpt">Lorem Ipsum is simply dummy text of
                                                    the printing and typesetting industry. Lorem Ipsum has been the
                                                    industry's standard dummy text ever since the 1500s.
                                                </div>
                                            </div>
                                        </div>
                                        <div id="services-269"
                                             class="cherry-services_item item-2 clearfix even col-xs-12 clear-col-xs col-sm-6 col-md-3 col-lg-3">
                                            <div class="servcircle">
                                                <img src="images/f2.png" alt="Strategy">
                                                <h3 class="cherry-services_title">Events</h3>
                                            </div>
                                            <div class="servdescr">
                                                <div class="cherry-services_excerpt">Lorem Ipsum is simply dummy text of
                                                    the printing and typesetting industry. Lorem Ipsum has been the
                                                    industry's standard dummy text ever since the 1500s.
                                                </div>
                                            </div>
                                        </div>
                                        <div id="services-268"
                                             class="cherry-services_item item-3 clearfix odd col-xs-12 clear-col-xs col-sm-6 clear-col-sm col-md-3 col-lg-3">
                                            <div class="servcircle">
                                                <img src="images/f3.png" alt="Strategy">
                                                <h3 class="cherry-services_title">Publications</h3>
                                            </div>
                                            <div class="servdescr">
                                                <div class="cherry-services_excerpt">Lorem Ipsum is simply dummy text of
                                                    the printing and typesetting industry. Lorem Ipsum has been the
                                                    industry's standard dummy text ever since the 1500s.
                                                </div>
                                            </div>
                                        </div>
                                        <div id="services-264"
                                             class="cherry-services_item item-4 clearfix even col-xs-12 clear-col-xs col-sm-6 col-md-3 col-lg-3">
                                            <div class="servcircle">
                                                <img src="images/f4.png" alt="Strategy">
                                                <h3 class="cherry-services_title">Services</h3>
                                            </div>
                                            <div class="servdescr">
                                                <div class="cherry-services_excerpt">Lorem Ipsum is simply dummy text of
                                                    the printing and typesetting industry. Lorem Ipsum has been the
                                                    industry's standard dummy text ever since the 1500s.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Features -->

<!-- Principles -->
<!--<div class="principles" id="principles">
    <h1>PRINCIPLES</h1>
    <div class="container">
        <div class="col-md-4 col-sm-4 principles-grid">
            <div class="p-grid1">
                <img src="images/p1.png" alt="Strategy">
            </div>
            <div class="p-grid2">
                <h3>Saving Solutions</h3>
                <p>Lorem ipsum dolores sit amet consectetur adipising venum met commando.</p>
                <ol>
                    <li>Lorem ipsum dolores</li>
                    <li>Sit amet consectetur</li>
                </ol>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-4 col-sm-4 principles-grid p-grid">
            <div class="p-grid1">
                <img src="images/p2.png" alt="Strategy">
            </div>
            <div class="p-grid2">
                <h3>Tax Planning</h3>
                <p>Lorem ipsum dolores sit amet consectetur adipising venum met commando.</p>
                <ol>
                    <li>Lorem ipsum dolores</li>
                    <li>Sit amet consectetur</li>
                </ol>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-4 col-sm-4 principles-grid">
            <div class="p-grid1">
                <img src="images/p3.png" alt="Strategy">
            </div>
            <div class="p-grid2">
                <h3>Child Support</h3>
                <p>Lorem ipsum dolores sit amet consectetur adipising venum met commando.</p>
                <ol>
                    <li>Lorem ipsum dolores</li>
                    <li>Sit amet consectetur</li>
                </ol>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>-->
<!-- //Principles -->

<!-- About -->
<!--	<div class="about" id="about">
		<h2>ABOUT</h2>
		<div class="container">
			<div class="col-md-4 col-sm-4 about-info about-info1">
				<h3>LOREM IPSUM DOLORES!</h3>
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
			</div><!--<div class="principles" id="principles">
		<h1>PRINCIPLES</h1>
		<div class="container">
			<div class="col-md-4 col-sm-4 principles-grid">
				<div class="p-grid1">
					<img src="images/p1.png" alt="Strategy">
				</div>
				<div class="p-grid2">
					<h3>Saving Solutions</h3>
					<p>Lorem ipsum dolores sit amet consectetur adipising venum met commando.</p>
					<ol>
						<li>Lorem ipsum dolores</li>
						<li>Sit amet consectetur</li>
					</ol>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-4 col-sm-4 principles-grid p-grid">
				<div class="p-grid1">
					<img src="images/p2.png" alt="Strategy">
				</div>
				<div class="p-grid2">
					<h3>Tax Planning</h3>
					<p>Lorem ipsum dolores sit amet consectetur adipising venum met commando.</p>
					<ol>
						<li>Lorem ipsum dolores</li>
						<li>Sit amet consectetur</li>
					</ol>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-4 col-sm-4 principles-grid">
				<div class="p-grid1">
					<img src="images/p3.png" alt="Strategy">
				</div>
				<div class="p-grid2">
					<h3>Child Support</h3>
					<p>Lorem ipsum dolores sit amet consectetur adipising venum met commando.</p>
					<ol>
						<li>Lorem ipsum dolores</li>
						<li>Sit amet consectetur</li>
					</ol>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>-->
<!--<div class="col-md-4 col-sm-4 about-info about-info2">
    <h4>LOREM IPSUM DOLOR SIT AMET</h4>
    <ul>
        <li>At vero eos et accusamus</li>
        <li>Esto odio dignissimos ducimus qui</li>
        <li>Sanditiis praesentium voluptatum</li>
        <li>Atque corrupti quos dolores et</li>
        <li>Molestias excepturi sint occaecati</li>
        <li>Apiditate non provident</li>
    </ul>
</div>
<div class="col-md-4 col-sm-4 about-info about-info3">
    <h4>ATVERO EOS ET ACCUSAMUS</h4>
    <ul>
        <li>Nemo enim ipsam voluptatem</li>
        <li>Voluptas sit aspernatur aut odit</li>
        <li>Dgit sed quia consequuntur</li>
        <li>Dolores eos qui ratione</li>
        <li>Foluptatem sequi nesciunt</li>
        <li>Neque porro quisquam est</li>
    </ul>
</div>
<div class="clearfix"></div>
</div>
</div>-->
<!-- //About -->

<!-- Stats -->
<!--<div class="stats" id="stats">
    <h3>STATISTICS</h3>
    <div class="main">

        <span class="button-label">Size:</span>
        <input type="radio" name="resize-graph" id="graph-small" /><label for="graph-small">Small</label>
        <input type="radio" name="resize-graph" id="graph-normal" checked="checked" /><label for="graph-normal">Normal</label>
        <input type="radio" name="resize-graph" id="graph-large" /><label for="graph-large">Large</label>

        <span class="button-label">Color:</span>
        <input type="radio" name="paint-graph" id="graph-blue" checked="checked" /><label for="graph-blue">Blue</label>
        <input type="radio" name="paint-graph" id="graph-green" /><label for="graph-green">Green</label>
        <input type="radio" name="paint-graph" id="graph-rainbow" /><label for="graph-rainbow">Rainbow</label>

        <span class="button-label">Product:</span>
        <input type="radio" name="fill-graph" id="f-product1" checked="checked" /><label for="f-product1">Saving</label>
        <input type="radio" name="fill-graph" id="f-product2" /><label for="f-product2">Tax</label>
        <input type="radio" name="fill-graph" id="f-product3" /><label for="f-product3">Support</label>
        <input type="radio" name="fill-graph" id="f-none" /><label for="f-none">Clear</label>

        <ul class="graph-container">
            <li>
                <span>2011</span>
                <div class="bar-wrapper">
                    <div class="bar-container">
                        <div class="bar-background"></div>
                        <div class="bar-inner">25</div>
                        <div class="bar-foreground"></div>
                    </div>
                </div>
                </li>
                <li>
                <span>2012</span>
                <div class="bar-wrapper">
                    <div class="bar-container">
                        <div class="bar-background"></div>
                        <div class="bar-inner">50</div>
                        <div class="bar-foreground"></div>
                    </div>
                </div>
            </li>
            <li>
                <span>2013</span>
                <div class="bar-wrapper">
                    <div class="bar-container">
                        <div class="bar-background"></div>
                        <div class="bar-inner">75</div>
                        <div class="bar-foreground"></div>
                    </div>
                </div>
                </li>
            <li>
                <span>2014</span>
                <div class="bar-wrapper">
                    <div class="bar-container">
                        <div class="bar-background"></div>
                        <div class="bar-inner">100</div>
                        <div class="bar-foreground"></div>
                    </div>
                </div>
            </li>
            <li>
                <span>2015</span>
                <div class="bar-wrapper">
                    <div class="bar-container">
                        <div class="bar-background"></div>
                        <div class="bar-inner">50</div>
                        <div class="bar-foreground"></div>
                    </div>
                </div>
            </li>
            <li>
                <ul class="graph-marker-container">
                    <li style="bottom:25%;"><span>25%</span></li>
                    <li style="bottom:50%;"><span>50%</span></li>
                    <li style="bottom:75%;"><span>75%</span></li>
                    <li style="bottom:100%;"><span>100%</span></li>
                </ul>
            </li>
        </ul>

    </div>
</div>-->
<!-- //Stats -->

<!-- Message -->
<!--	<div class="testimonial" id="testimonial">
		<div class="container">

			<h3>MESSAGE</h3>
			<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
			<div class="test-span">
				<p>Lorem Ipsum Dolor Sit Amet</p>
			</div>

		</div>
	</div>-->
<!-- //Message -->

<!-- Gallery -->
<!--<div class="gallery" id="gallery">
    <h3>GALLERY</h3>
    <div class="container">
        <div class="gallery-grids">
            <div class="col-md-4 col-sm-4 gallery-top">
                <figure class="effect-bubba">
                    <a href="images/g1.jpg" class="swipebox">
                        <img src="images/g1.jpg" alt="Strategy" class="img-responsive" />
                        <figcaption>
                            <h4>Strategy</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 col-sm-4 gallery-top">
                <figure class="effect-bubba">
                    <a href="images/g2.jpg" class="swipebox">
                        <img src="images/g2.jpg" alt="Strategy" class="img-responsive" />
                        <figcaption>
                            <h4>Strategy</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 col-sm-4 gallery-top">
                <figure class="effect-bubba">
                    <a href="images/g3.jpg" class="swipebox">
                        <img src="images/g3.jpg" alt="Strategy" class="img-responsive" />
                        <figcaption>
                            <h4>Strategy</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 col-sm-4 gallery-top">
                <figure class="effect-bubba">
                    <a href="images/g4.jpg" class="swipebox">
                        <img src="images/g4.jpg" alt="Strategy" class="img-responsive" />
                        <figcaption>
                            <h4>Strategy</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 col-sm-4 gallery-top">
                <figure class="effect-bubba">
                    <a href="images/g5.jpg" class="swipebox">
                        <img src="images/g5.jpg" alt="Strategy" class="img-responsive" />
                        <figcaption>
                            <h4>Strategy</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 col-sm-4 gallery-top">
                <figure class="effect-bubba">
                    <a href="images/g6.jpg" class="swipebox">
                        <img src="images/g6.jpg" alt="Strategy" class="img-responsive" />
                        <figcaption>
                            <h4>Strategy</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 col-sm-4 gallery-top">
                <figure class="effect-bubba">
                    <a href="images/g7.jpg" class="swipebox">
                        <img src="images/g7.jpg" alt="Strategy" class="img-responsive" />
                        <figcaption>
                            <h4>Strategy</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 col-sm-4 gallery-top">
                <figure class="effect-bubba">
                    <a href="images/g8.jpg" class="swipebox">
                        <img src="images/g8.jpg" alt="Strategy" class="img-responsive" />
                        <figcaption>
                            <h4>Strategy</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 col-sm-4 gallery-top">
                <figure class="effect-bubba">
                    <a href="images/g9.jpg" class="swipebox">
                        <img src="images/g9.jpg" alt="Strategy" class="img-responsive" />
                        <figcaption>
                            <h4>Strategy</h4>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>-->
<!-- //Gallery -->

<!-- Events -->
<!--<div class="events" id="event">
    <h3>EVENTS</h3>
    <div class="container">
        <ul class="ch-grid">
            <div class="col-md-6 col-sm-6 event-grid">
                <li>
                    <div class="ch-item ch-img-1">
                        <div class="ch-info">
                            <h3>Strategy</h3>
                            <p>Lorem ipsum dolores sit amet</p>
                        </div>
                    </div>
                </li>
                <div class="event-info">
                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facerem possimus, omnis voluptas.</p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 event-grid">
                <li>
                    <div class="ch-item ch-img-2">
                        <div class="ch-info">
                            <h3>Strategy</h3>
                            <p>Lorem ipsum dolores sit amet</p>
                        </div>
                    </div>
                </li>
                <div class="event-info">
                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facerem possimus, omnis voluptas.</p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 event-grid">
                <li>
                    <div class="ch-item ch-img-3">
                        <div class="ch-info">
                            <h3>Strategy</h3>
                            <p>Lorem ipsum dolores sit amet</p>
                        </div>
                    </div>
                </li>
                <div class="event-info">
                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facerem possimus, omnis voluptas.</p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 event-grid">
                <li>
                    <div class="ch-item ch-img-4">
                        <div class="ch-info">
                            <h3>Strategy</h3>
                            <p>Lorem ipsum dolores sit amet</p>
                        </div>
                    </div>
                </li>
                <div class="event-info">
                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facerem possimus, omnis voluptas.</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </ul>
    </div>
</div>-->
<!-- //Events -->

<!-- Contact -->
<div class="contact" id="contact">
    <div class="container" ng-controller="formController">

        <h3>祝福留言</h3>
        <form name="contact_form" class="contact_form">
            <h2 class="message" ng-show="succeed">成功保存！</h2>
            <h2 class="message" ng-show="failed">保存失败，请稍后重试！</h2>
            <div class="message">
                <div class="col-md-6 col-sm-6 grid_6 c1">
                    <input type="text" class="text" value="姓名" placeholder="姓名" ng-model="user.name" required>
                    <input type="number" class="text" value="人数" placeholder="人数" ng-model="user.number_of_guests" required>
                    <input type="text" class="text" value="邮件" placeholder="邮件" ng-model="user.email">
                    <input type="text" class="text" value="电话" placeholder="电话" ng-model="user.phone" required>
                </div>

                <div class="col-md-6 col-sm-6 grid_6 c1">
                    <textarea placeholder="留言" ng-model="user.message">留言</textarea>
                </div>
                <div class="clearfix"></div>
            </div>

            <input type="submit" class="more_btn" value="提交" ng-click="save(user)">
        </form>
    </div>
</div>

<!-- //Contact -->
<div class="timer-area" id="timer-area">
    <h1>2016年05月21日</h1>
    <ul id="countdown">
        <li><span class="days">00</span>
            <p class="timeRefDays">天</p>
        </li>
        <li><span class="hours">00</span>
            <p class="timeRefHours">時</p>
        </li>
        <li><span class="minutes">00</span>
            <p class="timeRefMinutes">分</p>
        </li>
        <li><span class="seconds">00</span>
            <p class="timeRefSeconds">秒</p>
        </li>
    </ul>
</div>
<!-- Footer -->
<!--<div class="footer">
<div class="container">

    <div class="footer-info">
        <div class="col-md-3 col-sm-3 footer-info-grid email">
            <h4>NEWSLETTER</h4>
            <p>Subscribe to our newsletter and we will inform you about newest projects and promotions.
            </p>

            <form class="newsletter">
                <input class="email" type="email" placeholder="Your email...">
                <input type="submit" class="submit" value="">
            </form>
        </div>

        <div class="col-md-3 col-sm-3 footer-info-grid services">
            <h4>SPECIALIZE</h4>
            <ul>
                <li>Business</li>
                <li>Management</li>
                <li>Commerce</li>
                <li>Accountancy</li>
                <li>Revenue</li>
            </ul>
        </div>

        <div class="col-md-3 col-sm-3 footer-info-grid address">
            <h4>ADDRESS</h4>
            <address>
                <ul>
                    <li>Parma Via Modena</li>
                    <li>40019 Sant'Agata Bolognese</li>
                    <li>BO, Italy</li>
                    <li>Telephone : +1 (734) 123-4567</li>
                    <li>Email : <a class="mail" href="mailto:mail@example.com">info(at)example.com</a></li>
                </ul>
            </address>
        </div>

        <div class="col-md-3 col-sm-3 footer-info-grid social">
            <h4>FOLLOW US</h4>
            <ul class="social-icons">
                <li><a href="#" class="facebook" title="Go to Our Facebook Page"></a></li>
                <li><a href="#" class="twitter" title="Go to Our Twitter Account"></a></li>
                <li><a href="#" class="googleplus" title="Go to Our Google Plus Account"></a></li>
                <li><a href="#" class="instagram" title="Go to Our Instagram Account"></a></li>
            </ul>
            <div class="copyright">
                <p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>

</div>
</div>-->
<!-- //Footer -->
<!-- AngularJS-File -->
<script type="text/javascript" src="js/angularjs/angular.min.js"></script>
<!-- Customer-File -->
<script type="text/javascript" src="scripts/myApp.js"></script>
<!-- Default-JavaScript-File -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<!-- Necessary-JavaScript-File-For-Bootstrap -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!-- Navigation-JavaScript -->
<script type="text/javascript" src="js/jquery-func.js"></script>
<!--Save to a file-->

<!-- TIMER -->
<script src="js/countdown.js"></script>
<script>

    $(document).ready(function () {
        $("#countdown").countdown({
                    date: "16 may 2016 12:00:00",
                    format: "on"
                },

                function () {
                    // callback function
                });
    });

</script>
<script>
    $(window).load(function () {
        $(".btn-nav").on("click tap", function () {
            $(".nav-container").toggleClass("showNav hideNav").removeClass("hidden");
            $(this).toggleClass("animated");
        });
    });
</script>
<!-- //Navigation-JavaScript -->

<!-- Swipe-Box-JavaScript -->
<script src="js/jquery.swipebox.min.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $(".swipebox").swipebox();
    });
</script>
<!-- //Swipe-Box-JavaScript -->

<!-- Slide-To-Top JavaScript (No-Need-To-Change) -->
<script type="text/javascript">
    $(document).ready(function () {
        var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 100,
            easingType: 'linear'
        };
        $().UItoTop({easingType: 'easeOutQuart'});
    });
</script>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //Slide-To-Top JavaScript -->

<!-- Smooth-Scrolling-JavaScript -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll, .navbar li a, .footer li a").click(function (event) {
            event.preventDefault();
            $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
        });
    });
</script>
<!-- //Smooth-Scrolling-JavaScript -->
<!--引用百度地图API-->
<!--	<style type="text/css">
		html,body{margin:0;padding:0;}
		.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
		.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
	</style>-->
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
<!--百度地图容器-->
<!--<div class="contact" style="margin: 15%;height: 70%" id="dituContent"/>-->
<!-- //Custom-JavaScript-Files -->
<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap() {
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
    }

    //创建地图函数：
    function createMap() {
        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
        var point = new BMap.Point(116.395645, 39.929986);//定义一个中心点坐标
        map.centerAndZoom(point, 12);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }

    //地图事件设置函数：
    function setMapEvent() {
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }

    //地图控件添加函数：
    function addMapControl() {
        //向地图中添加缩放控件
        var ctrl_nav = new BMap.NavigationControl({anchor: BMAP_ANCHOR_TOP_LEFT, type: BMAP_NAVIGATION_CONTROL_LARGE});
        map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
        var ctrl_ove = new BMap.OverviewMapControl({anchor: BMAP_ANCHOR_BOTTOM_RIGHT, isOpen: 1});
        map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
        var ctrl_sca = new BMap.ScaleControl({anchor: BMAP_ANCHOR_BOTTOM_LEFT});
        map.addControl(ctrl_sca);
    }


    initMap();//创建和初始化地图
</script>
</body>
</html>
